
<div id="sidebar">
			
			<div id="projects-listing">
			  <h2>Projects</h2>
			  <ul>
			  {% for collection in collections %}
			  {% unless collection.handle == 'frontpage' %}
				<li><a class="{{ collection.title | replace: ' ', '-'}}" href="#">{{ collection.title }}</a><span class="blocker"></span></li>
			  {% endunless %}
			  {% endfor %}
			  </ul>
			</div>
			
			<div id="media-listing">
			  <h2>Media</h2>
			  <ul></ul>
			</div>
		
		</div>
   
<div id="products" class="grid">
  
  <div class="products-list">
  {% for product in collections[settings.frontpage_collection].products %}
  {% include 'product-loop' with settings.frontpage_collection %}
  {% endfor %}
  </div>
  <div id="layout-switch">
    <a href="#" id="grid" class="active">Grid</a>
	<a href="#" id="list">List</a>
  </div>
</div>