
jQuery(window).load(function(){

  //for each description div...
	$('#products img').each(function(){
		$(this).css('opacity', 0);
		$(this).css('display', 'block');
	});
  
  $("select.loc_on_change").change(function(){
  	if($(this).attr("value") == "#") return false;
  	window.location = $(this).attr("value");
  });
  
  $(".product").equalHeights();
    
});

jQuery(document).ready(function($){
	
	var backimage = '{{ 'backstretch_1.jpg' | asset_url }}';
	var num = Math.floor((Math.random()*4)+1);
	var img = backimage.replace('_1','_'+num);
	$.backstretch(img);

    $("#products").preloader();
	
	var allTags = new Array();
	
	$('.product').each( function(){
		tags = $(this).attr('rel').split(" ");
		for (var i=0; i<tags.length; i++){
			if(tags[i] != ''){
				if(allTags.indexOf(tags[i]) == -1 && tags[i] != ' '){
					allTags.push(tags[i]);
				}
			}
		}
	})
	
	for (var i=0; i<allTags.length; i++){
		$('#media-listing ul').append('<li><a class="'+allTags[i]+'" href="#">'+allTags[i].replace(/-/g,' ')+'</a><span class="blocker"></span></li>');
	}
	
	project = new Array();
	media = new Array();
	classes = new Array();
	projectClasses = new Array();
	mediaClasses = new Array();
	
	
	$('#projects-listing a').click( function(){
		classes.length = 0;
		c = $(this).text().replace(/ /g, '-');
		if($(this).hasClass('active')){
			$(this).removeClass('active');
			project.splice(project.indexOf(c), 1);
		}else{
			$(this).addClass('active');
			project.push(c);
		}
		$('.product').each( function(){
			t = $(this);
			t.hide();
			if(project.length == 0){
				for (var j=0; j<media.length; j++){
					if(t.hasClass(media[j])){
						t.show();
					}
				}
			} else{
				for (var i=0; i<project.length; i++){
					if(t.hasClass(project[i])){
						if(media.length > 0){
							for (var j=0; j<media.length; j++){
								if(t.hasClass(media[j])){
									t.show();
								}
							}
						} else{
							t.show();
						}
					}
				}
			}
		})
		if(project.length == 0 && media.length == 0) {
			$('.product').show();
			$('#sidebar a').removeClass('disabled');
			$('.blocker').hide();
		}
		$('.product:visible').each( function(){
			var classList = $(this).attr('class').split(/\s+/);
			$.each( classList, function(index, item){
				if(classes.indexOf(item) == -1){
					classes.push(item);
				}
			});
		})
		$('#media-listing li a').each( function(){
			txt = $(this).text().replace(/ /g, '-');
			$(this).removeClass('disabled');
			$(this).siblings('.blocker').hide();
			$.each( classes, function(index, item){
				if(txt == item){
					disabled = false;
					return false;
				}
				if(txt != item){
					disabled = true;
				}
			})
			if(disabled == true){
				$(this).addClass('disabled').removeClass('active').siblings('.blocker').show();
			}
		})
		$('#projects-listing li a').click( function(){
			active = false;
			$('#projects-listing li a').each( function(){
				if($(this).hasClass('active')){
					active = true;
				}
			});
			if(active == false){
				$('#media-listing li a').removeClass('disabled');
				$('#media-listing .blocker').hide();
			}
		});
		return false;
	});
	
	$('#media-listing a').click( function(){
		classes.length = 0;
		c = $(this).text().replace(/ /g, '-');
		if($(this).hasClass('active')){
			$(this).removeClass('active');
			media.splice(media.indexOf(c), 1);
		}else{
			$(this).addClass('active');
			media.push(c);
		}
		$('.product').each( function(){
			t = $(this);
			t.hide();
			if(media.length == 0){
				for (var j=0; j<project.length; j++){
					if(t.hasClass(project[j])){
						t.show();
					}
				}
			} else{
				for (var i=0; i<media.length; i++){
					if(t.hasClass(media[i])){
						if(project.length > 0){
							for (var j=0; j<project.length; j++){
								if(t.hasClass(project[j])){
									t.show();
								}
							}
						} else{
							t.show();
						}
					}
				}
			}
		})
		if(project.length == 0 && media.length == 0) {
			$('.product').show();
			$('#sidebar a').removeClass('disabled');
			$('.blocker').hide();
		}
		$('.product:visible').each( function(){
			var classList = $(this).attr('class').split(/\s+/);
			$.each( classList, function(index, item){
				if(classes.indexOf(item) == -1){
					classes.push(item);
				}
			});
		})
		$('#projects-listing li a').each( function(){
			txt = $(this).text().replace(/ /g, '-');
			$(this).removeClass('disabled');
			$(this).siblings('.blocker').hide();
			$.each( classes, function(index, item){
				if(txt == item){
					disabled = false;
					return false;
				}
				if(txt != item){
					disabled = true;
				}
			})
			if(disabled == true){
				$(this).addClass('disabled').removeClass('active').siblings('.blocker').show();
			}
		})
		$('#media-listing li a').click( function(){
			active = false;
			$('#media-listing li a').each( function(){
				if($(this).hasClass('active')){
					active = true;
				}
			});
			if(active == false){
				$('#projects-listing li a').removeClass('disabled');
				$('#projects-listing .blocker').hide();
			}
		});
		return false;
	});

	
	$('#layout-switch a').click( function(){
		$(this).addClass('active');
		$(this).siblings().removeClass('active');
		$('#products').attr('class',$(this).attr('id'));
		if($(this).attr('id') == 'list'){
			$(".product").attr('style','');
		}else{
			$(".product").equalHeights();
		}
		return false;
	})
	
	
  	
  $("a.zoom").fancybox({
    padding:10,
    'titleShow': false,
    overlayColor: '#000000',
    overlayOpacity: 0.3
  });


  $('#product .thumbs a').click(function(){
    {% unless settings.enable_product_image_zoom %}
    $('#placeholder').attr('href', $(this).attr('href'));
    $('#placeholder img').attr('src', $(this).attr('data-original-image'))
    {% endunless %}
    $('#zoom-image').attr('href', $(this).attr('href'));
    return false;
  });
  
  $('#product .add-to-cart').click(function(e){
    $('#add-item-to-cart').click();
  });
  
  $('input[type="submit"], input.btn, button').click(function(){ // remove ugly outline on input button click
    $(this).blur();
  })
  


  
}); // end document ready





$.fn.preloader = function(options){
	
	var defaults = {
		             delay:200,
					 preload_parent:"a",
					 check_timer:300,
					 ondone:function(){ },
					 oneachload:function(image){  },
					 fadein:500 
					};
	
	// variables declaration and precaching images and parent container
	 var options = $.extend(defaults, options),
	 root = $(this) , images = root.find("img").css({"visibility":"hidden",opacity:0}) ,  timer ,  counter = 0, i=0 , checkFlag = [] , delaySum = options.delay ,
	 
	 init = function(){
		
		timer = setInterval(function(){
			
			if(counter>=checkFlag.length)
			{
			clearInterval(timer);
			options.ondone();
			return;
			}
		
			for(i=0;i<images.length;i++)
			{
				if(images[i].complete==true)
				{
					if(checkFlag[i]==false)
					{
						checkFlag[i] = true;
						options.oneachload(images[i]);
						counter++;
						
						delaySum = delaySum + options.delay;
					}
					
					$(images[i]).css("visibility","visible").delay(delaySum).animate({opacity:1},options.fadein,
					function(){ $(this).parent().removeClass("preloader");   });
					
					
					
				 
				}
			}
		
			},options.check_timer) 
		 
		 
		 } ;
	
	images.each(function(){
		
		if($(this).parent(options.preload_parent).length==0)
		$(this).wrap("<a class='preloader' />");
		else
		$(this).parent().addClass("preloader");
		
		checkFlag[i++] = false;
		
		
		}); 
	images = $.makeArray(images); 
	
	
	var icon = jQuery("<img />",{
		
		id : 'loadingicon' ,
		src : '{{ 'ajax-loader.gif' | asset_url }}'
		
		}).hide().appendTo("body");
	
	
	
	timer = setInterval(function(){
		
		if(icon[0].complete==true)
		{
			clearInterval(timer);
			init();
			 icon.remove();
			return;
		}
		
		},100);
	
	}